<div class="todos">

    <form (submit)="addTodo()" class="d-flex gap-2 mb-3">
        <input [(ngModel)]="newTodo" name="todoInput" class="form-control" placeholder="Add new todo..." />

        <button class="btn btn-primary" type="submit" [disabled]="!newTodo.trim()">Add</button>
    </form>

    @if(todos.length === 0){
    <div class="text-muted fst-italic small">
        No todos yet. Add your first task
    </div>
    }

    @for(todo of todos; track $index){
    <div class="todo d-flex align-items-center justify-content-between mb-2 p-2 rounded bg-light">

        <div class="left d-flex align-items-center gap-3">

            <input type="checkbox" class="form-check-input" [checked]="todo.completed" (change)="toggleDone($index)" />

            <div class="id">
                {{ $index + 1 }}
            </div>

            <div class="content" [class.completed]="todo.completed">{{ todo.content }}</div>
        </div>

        <div class="right">
            <span class="delete-x" (click)="deleteTodo($index)">✕</span>
        </div>
    </div>
    }
</div>